
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.body {
    font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	overflow-x: hidden;
}
.box {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 32%;
    left: 50%;   
    transform: translate(-50%, -50%);
}
.libelles-class {
    color: white;
    font-size: 20px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    border: 2px solid;
    color : rgb(61, 60, 78);
    width: 50%;
    margin: 23px auto;
}

form {
    background-color: rgb(91, 90, 102);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

table {
    border-collapse: separate;
    border-spacing: 10px 8px;    
    text-align: center;
}

select {
    background-color: rgb(220, 219, 235);
    color: rgb(20, 19, 34);
    font-weight: 500;
    padding: 3.9px;
    width: 280px;
    font-size: 15px;
} 

input {
    background-color: rgb(220, 219, 235);
    padding: 4px;
    font-weight: bold;
}

input[type="text"], [type="number"]:disabled {
    background: rgb(70, 69, 85);
    color: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

span {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.total {
    color: white;
    padding-top: 10px;
}

.totLine {
    font-size: 14px;
}
#toTotal {
    font-weight: bolder;
}
  
